{{- $configValues := omit .Values.global.dataStore.config "extraConfigValues" -}}

{{- $_ := set $configValues "bookiePort" (coalesce .Values.config.bookiePort .Values.containerPorts.client) -}}
{{- $_ := set $configValues "metadataServiceUri" (coalesce .Values.config.metadataServiceUri (printf "zk://%s/ledgers" (include "data-store.config.metadataServiceUri" $))) -}}
{{- $_ := set $configValues "journalDirectory" (.Values.persistence.enabled | ternary (coalesce .Values.config.journalDirectory (.Values.persistence.oneDisk.enabled | ternary .Values.persistence.oneDisk.mountPath .Values.persistence.journal.mountPath)) "/pulsar/data/bookeeper/journal") -}}
{{- $_ := set $configValues "ledgerDirectories" (.Values.persistence.enabled | ternary (coalesce .Values.config.ledgerDirectories (.Values.persistence.oneDisk.enabled | ternary .Values.persistence.oneDisk.mountPath .Values.persistence.ledgers.mountPath)) "/pulsar/data/bookeeper/ledgers") -}}

{{- if (eq (include "data-store.metrics-enabled" .) "true") }}
  {{- $_ := set $configValues "enableStatistics" (coalesce .Values.config.enableStatistics "true") -}}
  {{- $_ := set $configValues "statsProviderClass" (coalesce .Values.config.statsProviderClass "org.apache.bookkeeper.stats.prometheus.PrometheusMetricsProvider") -}}
{{- else -}}
  {{- $_ := unset $configValues "enableStatistics" -}}
  {{- $_ := unset $configValues "statsProviderClass" -}}
{{- end -}}

{{- if eq (include "common.tls.require-secure-inter" .) "true" -}}
  {{- $_ := set $configValues "bookiePort" (coalesce .Values.config.bookiePort .Values.containerPorts.clientTls) -}}

  {{- $_ := set $configValues "tlsProvider" (coalesce .Values.config.tlsProvider "JDK") -}}
  {{- $_ := set $configValues "tlsProviderFactoryClass" (coalesce .Values.config.tlsProviderFactoryClass "org.apache.bookkeeper.tls.TLSContextFactory") -}}

  {{- $_ := set $configValues "tlsKeyStoreType" (coalesce .Values.config.tlsKeyStoreType "JKS") -}}
  {{- $_ := set $configValues "tlsKeyStore" (coalesce .Values.config.tlsKeyStore "/pulsar/jks/keystore.jks") -}}
  {{- $_ := set $configValues "tlsKeyStorePasswordPath" (coalesce .Values.config.tlsKeyStorePasswordPath "/pulsar/jks/jks-password") -}}

  {{- $_ := set $configValues "tlsTrustStoreType" (coalesce .Values.config.tlsTrustStoreType "JKS") -}}
  {{- $_ := set $configValues "tlsTrustStore" (coalesce .Values.config.tlsTrustStore "/pulsar/jks/truststore.jks") -}}
  {{- $_ := set $configValues "tlsTrustStorePasswordPath" (coalesce .Values.config.tlsTrustStorePasswordPath "/pulsar/jks/jks-password") -}}

{{/*  {{- $_ := set $configValues "tlsHostnameVerificationEnabled" (coalesce .Values.config.tlsHostnameVerificationEnabled "true") -}}*/}}

  {{/* Mutual TLS */}}
{{/*  {{- $_ := set $configValues "tlsClientAuthentication" (coalesce .Values.config.tlsClientAuthentication "true") -}}*/}}
{{/*  {{- $_ := set $configValues "bookkeeperTLSClientAuthentication" (coalesce .Values.config.bookkeeperTLSClientAuthentication "true") -}}*/}}
{{/*  {{- $_ := set $configValues "bookkeeperTLSTrustCertsFilePath" (coalesce .Values.config.bookkeeperTLSTrustCertsFilePath "/pulsar/certs/ca.crt") -}}*/}}

{{/*  {{- $_ := set $configValues "clientKeyStore" (coalesce .Values.config.tlsKeyStore "/pulsar/jks/keystore.jks") -}}*/}}
{{/*  {{- $_ := set $configValues "clientKeyStorePasswordPath" (coalesce .Values.config.tlsKeyStorePasswordPath "/pulsar/jks/jks-password") -}}*/}}

{{/*  {{- $_ := set $configValues "clientTrustStore" (coalesce .Values.config.tlsTrustStore "/pulsar/jks/truststore.jks") -}}*/}}
{{/*  {{- $_ := set $configValues "clientTrustStorePasswordPath" (coalesce .Values.config.tlsTrustStorePasswordPath "/pulsar/jks/jks-password") -}}*/}}
{{- end -}}

{{- if eq true false -}}
  {{- $_ := set $configValues "zkEnableSecurity" (coalesce .Values.config.zkEnableSecurity  "false") -}}
  {{- $_ := set $configValues "bookieAuthProviderFactoryClass" (coalesce .Values.config.bookieAuthProviderFactoryClass "xxxx") -}}
{{- end -}}

{{- if eq (include "data-store.stateStoreEnabled" $) "true" -}}
  {{- $extraServerComponents := default "" .Values.config.extraConfigValues -}}
  {{- $_ := set $configValues "extraServerComponents" (printf "%s,%s" $extraServerComponents "org.apache.bookkeeper.stream.server.StreamStorageLifecycleComponent") -}}
{{- end -}}

{{- $component := "data-store" -}}
{{- $name := (printf "%s-configuration" (include "data-store.name" $)) -}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $name | quote }}
  namespace: {{ (include "common.names.namespace" .) | quote }}
  labels: {{ include "common.labels.standard" (dict "name" (include "data-store.name" .) "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: {{ $component | quote }}
    {{ include "common.tplvalues.render" ( dict "value" .Values.global.commonLabels "context" $ ) | nindent 4 }}
  annotations:
    {{ include "common.tplvalues.render" ( dict "value" .Values.global.commonAnnotations "context" $ ) | nindent 4 }}
data:
  log4j2.yaml: |
    {{ tpl (.Files.Get "files/log4j2.yaml") . | nindent 4 }}
  bkenv.sh: |
    {{ tpl (.Files.Get "files/bkenv.sh") . | nindent 4 }}
  bookkeeper.conf: |
    {{ include "common.formatting.toToml" (dict "configValues" $configValues "context" $) | nindent 4 }}
    {{ if .Values.config.extraConfigValues }}
    {{- include "common.formatting.toToml" (dict "configValues" .Values.config.extraConfigValues "context" $) | nindent 4 -}}
    {{ end }}