{{- $component := "data-store" -}}
{{- $name := (printf "%s-init-new-cluster" (include "data-store.name" $)) -}}

{{- $extraVolMounts := default list .Values.extraVolumeMounts -}}
{{- $extraVols := default list .Values.extraVolumes -}}

{{- if eq (include "common.tls.require-secure-inter" .) "true" -}}
  {{- $tlsSecretName := coalesce .Values.certificateResources.tlsSecretName .Values.global.interComponentTls.tlsSecretName (printf "%s-tls" (include "data-store.name" .)) -}}
  {{- $jksPassSecretName := coalesce .Values.certificateResources.jksPasswordSecretName .Values.global.interComponentTls.jksPasswordSecretName (printf "%s-jks" (include "data-store.name" .)) -}}

  {{- $extraVolMounts = append $extraVolMounts (include "common.tls.volumeMounts.certs" . | fromJson) -}}
  {{- $extraVolMounts = append $extraVolMounts (include "common.tls.volumeMounts.jks" . | fromJson) -}}

  {{- $extraVols = append $extraVols (include "common.tls.volumes.certs" (dict "tlsSecretName" $tlsSecretName "context" $) | fromJson) -}}
  {{- $extraVols = append $extraVols (include "common.tls.volumes.jks-store" (dict "jksPasswordSecretName" $jksPassSecretName "tlsSecretName" $tlsSecretName "context" $) | fromJson) -}}
{{- end -}}

apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $name | quote }}
  namespace: {{ (include "common.names.namespace" .) | quote }}
  labels: {{ include "common.labels.standard" (dict "name" (include "data-store.name" $) "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: {{ $component | quote }}
    {{ include "common.tplvalues.render" ( dict "value" .Values.global.commonLabels "context" $ ) | nindent 4 }}
  annotations:
    {{ include "common.tplvalues.render" ( dict "value" .Values.global.commonAnnotations "context" $ ) | nindent 4 }}
spec:
  template:
    spec:
      restartPolicy: OnFailure
      initContainers: {{ include "common.lifeCycle.meta-data-store-running" . | nindent 8 }}
      containers:
        - name: "init-new-cluster"
          image: {{ include "common.images.image" (dict "imageRoot" .Values.image "global" .Values.global) }}
          imagePullPolicy: {{ .Values.image.pullPolicy | quote }}
          command: ["/bin/sh", "-c"]
          args: ["/pulsar/bin/bookkeeper shell metaformat --nonInteractive || true"]
          volumeMounts:
            - name: "conf"
              mountPath: {{ .Values.pulsarEnv.confPath }}
            {{- if $extraVolMounts }}
            {{ include "common.tplvalues.render" (dict "value" $extraVolMounts "context" $) | nindent 12 }}
            {{- end }}
      volumes:
        - name: "conf"
          configMap:
            name: {{ printf "%s-configuration" (include "data-store.name" .) }}
        {{- if $extraVols }}
        {{ include "common.tplvalues.render" (dict "value" $extraVols "context" $) | nindent 8 }}
        {{- end }}