globalData:
  ## @skip globalData.nameOverride
  ## [string,nullable] String to partially override common.names.name
  ##
  nameOverride: ""

  ## @skip globalData.fullnameOverride
  ## [string,nullable] String to fully override common.names.fullname
  ##
  fullnameOverride: ""

## @section Image parameters
## @descriptionStart
## @descriptionEnd
##
image:

  ## @param image.registry [string,nullable] Component image registry
  ##
  registry: ""

  ## @param image.repository [string,nullable] Component image repository
  ##
  repository: "%%IMAGE_NAME%%"

  ## @param image.tag [string,nullable] Component image tag (immutable tags are recommended)
  ##
  tag: "%%IMAGE_TAG%%"

  ## @param image.pullPolicy Component image pull policy
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: IfNotPresent

  ## @param image.pullSecrets [array,nullable] Specify docker-registry secret names as an array
  ## Optionally specify an array of imagePullSecrets.
  ## Secrets must be manually created in the namespace.
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  ## e.g:
  ## pullSecrets:
  ##   - myRegistryKeySecretName
  ##
  pullSecrets: []

## @section Certificate Resources
## @descriptionStart
## Configure the component's certificate
## @descriptionEnd
##
certificateResources:

  ## @param certificateResources.tlsSecretName [string,nullable]
  ##
  tlsSecretName:

  ## @param certificateResources.jksPasswordSecretName [string,nullable]
  ##
  jksPasswordSecretName:

  ## @extra certificateResources.certificateRequest Refer to the [CertificateSpec](https://cert-manager.io/docs/reference/api-docs/#cert-manager.io/v1.CertificateSpec) for more info about these values.
  ##
  certificateRequest:

    ## @param certificateResources.certificateRequest.renewBefore How long before the currently issued certificate’s expiry cert-manager should renew the certificate. Default is 2/3 of the duration.
    ##
    renewBefore:

    ## @param certificateResources.certificateRequest.duration The requested ‘duration’ (i.e. lifetime) of the Certificate. Default is 90 days
    ##
    duration:

    ##
    ##
    subject:

      ## @param certificateResources.certificateRequest.subject.organizations [array,nullable] Organizations to be used on the Certificate
      ##
      organizations: []

    ## @param certificateResources.certificateRequest.privateKey [object,nullable] Options to control private keys used for the Certificate
    ##
    privateKey: {}

    ## @param certificateResources.certificateRequest.issuerRef [object,nullable] IssuerRef is a reference to the issuer for this certificate
    ##
    issuerRef: {}

## @section Pulsar Environment Configuration
## @descriptionStart

## @descriptionEnd
##
pulsarEnv:
  ## @param pulsarEnv.confPath The full path where configuration files are held
  ##
  confPath: /pulsar/conf
  ## @param pulsarEnv.gc A collection of JVM settings garbage collection settings
  ##
  gc:
    - "-XX:+UseG1GC"
    - "-XX:MaxGCPauseMillis=10"
    - "-XX:+ParallelRefProcEnabled"
    - "-XX:+UnlockExperimentalVMOptions"
    - "-XX:+DoEscapeAnalysis"
    - "-XX:ParallelGCThreads=32"
    - "-XX:ConcGCThreads=32"
    - "-XX:G1NewSizePercent=50"
    - "-XX:+DisableExplicitGC"
  ## @param pulsarEnv.mem A collection of JVM memory settings
  ##
  mem:
    - "-Xms2g"
    - "-Xmx2g"
    - "-XX:MaxDirectMemorySize=4g"
  ##
  ##
  loggingLevels:
    ## @param pulsarEnv.loggingLevels.root Applies the pulsar.log.root.level JVM option
    ##
    root: "error"
    ## @param pulsarEnv.loggingLevels.pulsar Applies the PULSAR_LOG_LEVEL env var
    ##
    pulsar: "error"
  ## @param pulsarEnv.extraOpts A collection of extra options to be passed to the jvm. Format each as the entire key/value
  ##
  extraOpts:
    - "-Dzookeeper.tcpKeepAlive=true"
    - "-Dzookeeper.clientTcpKeepAlive=true"
    - "-Dpulsar.allocator.exit_on_oom=true"
    - "-Dio.netty.recycler.maxCapacity.default=1000"
    - "-Dio.netty.recycler.linkCapacity=1024"
    - "-Dlog4j2.formatMsgNoLookups=true"
  ## @param pulsarEnv.extraClasspath A collection of extra paths for the pulsar classpath. Include just the folder or file path, no delimiter.
  ##
  extraClasspath: []
  ## @param pulsarEnv.stopTimeout Time to wait for an instance to stop before getting forceful
  ##
  stopTimeout: 5

## @section %%CHART_NAME%% configuration
## @descriptionStart
## Configure %%CHART_NAME%% settings. Refer to the [project's documentation](%%PROJECT_DOCUMENTATION_URL%%) for a full spec.
##
## > Note, the values not documented here are set by the parent chart
## @descriptionEnd
##
## @param replicas The number of bookies to deploy
##
replicas: 1

config:
  ## @param config.extraConfigValues [nullable] Additional config values
  ##
  extraConfigValues: {}

## @section Service parameters
## @descriptionStart
## Component application controller service and service account parameters. Note the data-store's service is headless because it only needs to communicate with other cluster components.
## @descriptionEnd
##
service:

  ports:
    ## @param service.ports.%%SERVICE_PORT_SECURE_NAME%% [nullable] Component application controller unsecure service port
    ##
    %%SERVICE_PORT_SECURE_NAME%%: %%SERVICE_PORT_UNSECURE_PORT%%

    ## @param service.ports.%%SERVICE_PORT_SECURE_NAME%% [nullable] Component application controller secure service port
    ##
    %%SERVICE_PORT_SECURE_NAME%%: %%SERVICE_PORT_UNSECURE_PORT%%

  ## @param service.annotations [object,nullable] Additional custom annotations for Component application controller service
  ##
  annotations: {}

  ## @param service.extraPorts [array,nullable] Extra ports to expose (normally used with the `sidecar` value)
  ##
  extraPorts: []

## ServiceAccount configuration for the Component
##
serviceAccount:

  ## @param serviceAccount.name The name of the ServiceAccount to use.
  ## If not set and create is true, a name is generated using the common.names.name template
  name: ""

  ## @param serviceAccount.create Specifies whether a ServiceAccount should be created
  ##
  create: true

  ## @param serviceAccount.automountServiceAccountToken Automount service account token for the server service account
  ##
  automountServiceAccountToken: true

  ## @param serviceAccount.annotations [object,nullable] Annotations for service account. Evaluated as a template. Only used if `create` is `true`.
  ##
  annotations: {}

## @param podDisruptionBudget.enabled Enable the disruption budget
## @param podDisruptionBudget.maxUnavailable When enabled the maximum allowed unavailable for matchLabel objects
## @param podDisruptionBudget.minAvailable When enabled the min allowed available for matchLabel objects
##
podDisruptionBudget:
  enabled: true
  maxUnavailable: 1
  minAvailable:

## @section Other Parameters

## @param podManagementPolicy StatefulSet controller supports relax its ordering guarantees while preserving its uniqueness and identity guarantees. There are two valid pod management policies: OrderedReady and Parallel
## ref: https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#pod-management-policy
##
podManagementPolicy: Parallel

## @param updateStrategy.type Bookkeeper statefulset strategy type
## @param updateStrategy.rollingUpdate Bookkeeper statefulset rolling update configuration parameters
## ref: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#update-strategies
##
updateStrategy:
  type: RollingUpdate
  rollingUpdate: {}

## @param podLabels Extra labels for Bookkeeper pods
## Ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
##
podLabels: {}

## @param podAnnotations Extra annotations for Bookkeeper pods
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
##
podAnnotations: {}

## @param hostAliases Bookkeeper pods host aliases
## https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
##
hostAliases: []

## @param hostNetwork Specify if host network should be enabled for Bookkeeper pods
##
hostNetwork: false

## @param hostIPC Specify if host IPC should be enabled for Bookkeeper pods
##
hostIPC: false

## @param schedulerName Name of the k8s scheduler (other than default)
## ref: https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/
##
schedulerName: ""

## @param affinity Affinity for pod assignment
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
## Note: podAffinityPreset, podAntiAffinityPreset, and  nodeAffinityPreset will be ignored when it's set
##
affinity: {}

## @param podAffinityPreset Pod affinity preset. Ignored if `affinity` is set. Allowed values: `soft` or `hard`
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
##
podAffinityPreset: ""

## @param podAntiAffinityPreset Pod anti-affinity preset. Ignored if `affinity` is set. Allowed values: `soft` or `hard`
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
##
podAntiAffinityPreset: hard

## Node affinity preset
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
##
nodeAffinityPreset:
  ## @param nodeAffinityPreset.type Node affinity preset type. Ignored if `affinity` is set. Allowed values: `soft` or `hard`
  ##
  type: ""
  ## @param nodeAffinityPreset.key Node label key to match Ignored if `affinity` is set.
  ## E.g.
  ## key: "kubernetes.io/e2e-az-name"
  ##
  key: ""
  ## @param nodeAffinityPreset.values Node label values to match. Ignored if `affinity` is set.
  ## E.g.
  ## values:
  ##   - e2e-az1
  ##   - e2e-az2
  ##
  values: []

## @param nodeSelector Node labels for pod assignment
## Ref: https://kubernetes.io/docs/user-guide/node-selection/
##
nodeSelector: {}

## @param tolerations Tolerations for pod assignment
## Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
tolerations: []

## @param topologySpreadConstraints Topology Spread Constraints for pod assignment spread across your cluster among failure-domains. Evaluated as a template
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#spread-constraints-for-pods
##
topologySpreadConstraints: []

## @param terminationGracePeriodSeconds Seconds the pod needs to gracefully terminate
## ref: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-handler-execution
##
terminationGracePeriodSeconds: 60

## @param priorityClassName Name of the existing priority class to be used by Bookkeeper pods
## Ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
##
priorityClassName: ""

## Bookkeeper pods' Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
## @param podSecurityContext.enabled Enable security context for the pods
## @param podSecurityContext.fsGroup Set Bookkeeper pod's Security Context fsGroup
##
podSecurityContext:
  enabled: true
  fsGroup: 1001

## Bookkeeper containers' Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
## @param containerSecurityContext.enabled Enable Bookkeeper containers' Security Context
## @param containerSecurityContext.runAsUser Set Bookkeeper containers' Security Context runAsUser
## @param containerSecurityContext.runAsNonRoot Set Bookkeeper containers' Security Context runAsNonRoot
## e.g:
##   containerSecurityContext:
##     enabled: true
##     capabilities:
##       drop: ["NET_RAW"]
##     readOnlyRootFilesystem: true
##
containerSecurityContext:
  enabled: true
  runAsUser: 1001
  runAsNonRoot: true

## @param containerCommand Override the container image ENTRYPOINT. Leave blank to use image default (if set)
##
containerCommand: ["sh", "-c", "%%CONTAINER_COMMAND%%"]

## @param containerArgs Override the container image CMD. Leave blank to use image default (if set)
##
containerArgs: []

## @param extraEnvVars Extra environment variables to add to the provisioning pod
## e.g:
## extraEnvVars:
##   - name: SOME_VALUE
##     value: "10"
##
extraEnvVars: []

## @param extraEnvVarsCM ConfigMap with extra environment variables
##
extraEnvVarsCM: ""

## @param extraEnvVarsSecret Secret with extra environment variables
##
extraEnvVarsSecret: ""

## @param initContainers Add additional Add init containers to the Bookkeeper pod(s)
## e.g:
## initContainers:
##   - name: your-image-name
##     image: your-image
##     imagePullPolicy: Always
##     ports:
##       - name: portname
##         containerPort: 1234
##
initContainers: []

containerPorts:

  ## @param containerPorts.client [nullable] Component application controller unsecure service port
  ##
  %%SERVICE_PORT_UNSECURE_NAME%%: %%SERVICE_PORT_UNSECURE_PORT%%

  ## @param containerPorts.clientTls [nullable] Component application controller unsecure service port
  ##
  %%SERVICE_PORT_SECURE_NAME%%: %%SERVICE_PORT_SECURE_PORT%%

## @section Persistence parameters

## Enable persistence using Persistent Volume Claims
## ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:

  ## @param persistence.enabled Enable Bookkeeper data persistence using PVC
  ##
  enabled: true

  ## @param persistence.journal.mountPath The container mount path
  ##
  mountPath: %%PERSISTENCE_MOUNT_PATH%%

  ## @param persistence.journal.size PVC storage size
  ##
  size: 2Gi

  ## @param persistence.journal.storageClass PVC Storage Class for Kafka data volume
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ## set, choosing the default provisioner.
  ##
  storageClass:

  ## @param persistence.journal.existingClaim A manually managed Persistent Volume and Claim
  ## If defined, PVC must be created manually before volume will be bound
  ## The value is evaluated as a template
  ##
  existingClaim: ""

  ## @param persistence.journal.accessModes Persistent Volume Access Modes
  ##
  accessModes:
    - ReadWriteOnce

  ## @param persistence.journal.annotations Annotations for the PVC
  ##
  annotations: {}

  ## @param persistence.journal.selector Selector to match an existing Persistent Volume. If set, the PVC can't have a PV dynamically provisioned for it
  ## selector:
  ##   matchLabels:
  ##     app: my-app
  ##
  selector: {}

## Enable log persistence using Persistent Volume Claims
## ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
##
logPersistence:

  ## @param logPersistence.mountPath Mount path of Pulsar home
  ##
  mountPath: %%LOG_PERSISTENCE_MOUNT_PATH%%

  ## @param logPersistence.size PVC storage size
  ##
  size: 5Gi

  ## @param logPersistence.storageClass PVC Storage Class for Kafka data volume
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ## set, choosing the default provisioner.
  ##
  storageClass:

  ## @param logPersistence.existingClaim A manually managed Persistent Volume and Claim
  ## If defined, PVC must be created manually before volume will be bound
  ## The value is evaluated as a template
  ##
  existingClaim: ""

  ## @param logPersistence.accessModes Persistent Volume Access Modes
  ##
  accessModes:
    - ReadWriteOnce

  ## @param logPersistence.annotations Annotations for the PVC
  ##
  annotations: {}

  ## @param logPersistence.selector Selector to match an existing Persistent Volume. If set, the PVC can't have a PV dynamically provisioned for it
  ## selector:
  ##   matchLabels:
  ##     app: my-app
  ##
  selector: {}

## @section Pod Liveness & Readyness

## Configure extra options for %%CHART_NAME%% containers' liveness, readiness and startup probes
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
## @param livenessProbe.enabled Enable livenessProbe on %%CHART_NAME%% containers
## @param livenessProbe.exec.command Process to monitor for readiness
## @param livenessProbe.periodSeconds Period seconds for readinessProbe
## @param livenessProbe.timeoutSeconds Timeout seconds for readinessProbe
## @param livenessProbe.failureThreshold Failure threshold for readinessProbe
## @param livenessProbe.successThreshold Success threshold for readinessProbe
##
livenessProbe:
  enabled: true
  exec:
    command:
      - "/pulsar/probes/liveness.sh"
  periodSeconds: 3
  timeoutSeconds: 30
  failureThreshold: 5
  successThreshold: 1

## @param readinessProbe.enabled Enable readinessProbe on %%CHART_NAME%% containers
## @param readinessProbe.exec.command Process to monitor for readiness
## @param readinessProbe.periodSeconds Period seconds for readinessProbe
## @param readinessProbe.failureThreshold Failure threshold for readinessProbe
## @param readinessProbe.successThreshold Success threshold for readinessProbe
##
readinessProbe:
  enabled: true
  exec:
    command:
      - "/pulsar/probes/readiness.sh"
  periodSeconds: 5
  failureThreshold: 1
  successThreshold: 1

## @param startupProbe.enabled Enable startupProbe on %%CHART_NAME%% containers
## @param startupProbe.exec.command Process to monitor for readiness
## @param startupProbe.periodSeconds Period seconds for readinessProbe
## @param startupProbe.failureThreshold Failure threshold for readinessProbe
##
startupProbe:
  enabled: true
  exec:
    command:
      - "/pulsar/probes/startup.sh"
  periodSeconds: 3
  failureThreshold: 10

## @param lifecycleHooks lifecycleHooks for the Bookkeeper container to automate configuration before or after startup
##
lifecycleHooks: {}

## Bookkeeper resource requests and limits
## ref: https://kubernetes.io/docs/user-guide/compute-resources/
## @param resources.limits The resources limits for the container
##
resources:
  limits: {}

  requests:
    ## @param resources.requests.memory The requested resource memory for the container
    ##
    memory: 2Gi

    ## @param resources.requests.cpu The requested resource cpu for the container
    ##
    cpu: 1

## @param extraVolumes Optionally specify extra list of additional volumes for the Bookkeeper pod(s)
## e.g:
## extraVolumes:
##   - name: certs
##     secret:
##       secretName: admin-console-tls
##
##   - name: token-superuser
##     secret:
##       secretName: token-superuser
##
extraVolumes: []

## @param extraVolumeMounts Optionally specify extra list of additional volumeMounts for the Bookkeeper container(s)
## extraVolumeMounts:
##    - name: certs
##      readOnly: true
##      mountPath: /pulsar/certs

##    - mountPath: "/pulsar/token-superuser"
##      name: token-superuser
##      readOnly: true
##
extraVolumeMounts: []

## @param sidecars Add additional sidecar containers to the Bookkeeper pod(s)
## e.g:
## sidecars:
##   - name: your-image-name
##     image: your-image
##     imagePullPolicy: Always
##     ports:
##       - name: portname
##         containerPort: 1234
##
sidecars: []
